<div class="container-fluid bg-dark py-3">
  <div class="row d-flex justify-content-center text-light">
    <h1 class="text-center my-1 fst-italic">{{course.Name}}</h1>
    <div class="row d-flex justify-content-center text-light my-2">
      <ul class="col-4">
        @for (i of course.branches; track $index) {

          <li>
            <span class="text-danger text-capitalize">
              {{i}}
            </span> branche
          </li>
        }
      </ul>
      <img class="col-1 rounded-circle" [src]="course.Logo" alt="">
    </div>
  </div>
<hr class="text-light mx-auto w-75">
  <!-- <div class="row d-flex justify-content-center align-content-center my-2">
    <a href="#" class="col d-flex justify-content-center text-decoration-none">
      <i class="fa-brands fa-facebook text-primary fs-3"></i>
    </a>
    <a href="#" class="col d-flex justify-content-center text-decoration-none">
      <i class="fa-brands fa-facebook-messenger text-light fs-3"></i>
    </a>
    <a href="#" class="col d-flex justify-content-center text-decoration-none">
      <i class="fa-brands fa-whatsapp text-success fs-3"></i>
    </a>
    <a href="#" class="col d-flex justify-content-center text-decoration-none">
      <i class="fa-brands fa-linkedin text-primary fs-3"></i>
    </a>
  </div>
<hr class="text-light mx-auto w-75"> -->
<!-- <h3 class="text-center text-light">{{date|date:'HH:mm:ss'}}</h3>
<hr class="text-light mx-auto w-75"> -->
  <h4 class="text-center opacity-50 text-light my-3">Copyright &copy; 2025 ShopVibe</h4>
  </div>
